body{
	background-color:#ADD8E6;
	font-family: sans-serif;
	
	 

}
/*This is the main container, housing every single element: The logo, the form, and the link below the form*/
.elements{
	display: flex;
    justify-content: center;
}

.logo{
	margin: 30px;
	display: flex;
	justify-content: center;
	
	

}
/*The text at the top of the form*/
h4{
	text-align: center;
	font-family: sans-serif;
	padding-bottom: none;
	margin-bottom: none;
	color: rgb(8,62,160);
	letter-spacing: -0.5px;
}

p{
	text-align: center;
	font-size: 10px;
	line-height: 0px;
	margin-top: -14px;
	letter-spacing: 0.2px;
	color: rgb(93,102,115);
	
	
}
/*This container houses the components of the form area: the header text, the paragraph and the form itself.*/
.main{
	background-color: white;
	width: 280px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	border-bottom-left-radius: 0%;
	margin-bottom: 30px;
	




}


form{
	font-size: 7px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	
	color: rgb(73, 78, 100);
	padding-left: 16px;

}


label{
	font-size: 7px
	color: rgb(74,85,127);
	

}



/* This right here is the styling of the input boxes in the form*/
input{
	background-color: rgb(237,242,247);
	width: 240px;
	height: 33px;
	font-size: 9px;
	margin-top: 4px;
	border-radius: 3px;
	border-style: solid;
	color:rgb(201,194,216);
	border-color:white;
	text-indent: 8px;
	margin-left: -1px;

}


/*This is the selection box at the bottom of the form*/
select{
	background-color: rgb(237,242,247);
	width: 245px;
	height: 39px;
	font-size: 9px;
	margin-top: 4px;
	border-radius: 5px;
	border-style: solid;
	appearance: none;
	  
	border-color:white;

}

/*This is the submission botton*/
button{
	position: left;
	background-color: rgb(8,62,160);
	color:#ffffff;
	font-size: 9px;
	height: 37px;
	border-color:rgb(8,62,160));
	border-radius: 7px;
	width: 244px;
	border-bottom-left-radius: 0%;
	border-style: solid;
	border-color:white;
}
/*The link at the bottom of page*/
#link{
	font-size: 10px;
	text-align: center;
	
	color:white;
	text-decoration:none;
	padding-top: 0px;
	display: flex;
    justify-content: center;
}
